=begin
#カラーミーショップ API

## カラーミーショップ API  ## 利用手順  ### OAuthアプリケーションの登録  デベロッパーアカウントをお持ちでない場合は作成します。[デベロッパー登録ページ](https://api.shop-pro.jp/developers/sign_up)から登録してください。  次に、[登録ページ](https://api.shop-pro.jp/oauth/applications/new)からアプリ登録を行ってください。 スマートフォンのWebViewを利用する場合は、リダイレクトURIに`urn:ietf:wg:oauth:2.0:oob`を入力してください。  ### 認可  カラーミーショップアカウントの認証ページを開きます。認証ページのURLは、`https://api.shop-pro.jp/oauth/authorize`に必要なパラメータをつけたものです。  |パラメータ名|値| |---|---| |`client_id`|アプリ詳細画面で確認できるクライアントID| |`response_type`|\"code\"を指定| |`scope`| 別表参照| |`redirect_uri`|アプリ登録時に入力したリダイレクトURI|  `scope`は、以下のうち、アプリが利用したい機能をスペース区切りで指定してください。  |スコープ|機能| |---|---| |`read_products`|商品データの参照| |`write_products`|在庫データの更新| |`read_sales`|受注・顧客データの参照| |`write_sales`|受注データの更新| |`read_shop_coupons`|ショップクーポンの参照|  以下のようなURLとなります。  ``` https://api.shop-pro.jp/oauth/authorize?client_id=CLIENT_ID&redirect_uri=REDIRECT_URI&response_type=code&scope=read_products%20write_products ```  初めてこのページを訪れる場合は、カラーミーショップアカウントのログインIDとパスワードの入力を求められます。  ログイン後の認証ページでアプリとの連携が承認された場合は、`code`というクエリパラメータに認可コードが付与されます。承認がキャンセルされた、またはエラーが起きた場合は、 `error`パラメータにエラーの内容を表す文字列が与えられます。  アプリ登録時のリダイレクトURIに`urn:ietf:wg:oauth:2.0:oob`を指定した場合は、以下のようなURLにリダイレクトされ、 認可コードがURLの末尾に付与されます。  ``` https://api.shop-pro.jp/oauth/authorize/AUTH_CODE ```  認可コードの有効期限は発行から10分間です。  ### 認可コードをアクセストークンに交換  以下のパラメータを付けて、`https://api.shop-pro.jp/oauth/token`へリクエストを送ります。  |パラメータ名|値| |---|---| |`client_id`|アプリ詳細画面に表示されているクライアントID| |`client_secret`|アプリ詳細画面に表示されているクライアントシークレット| |`code`|取得した認可コード| |`grant_type`|\"authorization_code\"を指定| |`redirect_uri`|アプリ登録時に入力したリダイレクトURI|  curlによるリクエストの例を以下に示します。 ```console $ curl -X POST \\   -d'client_id=CLIENT_ID' \\   -d'client_secret=CLIENT_SECRET' \\   -d'code=CODE' \\   -d'grant_type=authorization_code'   \\   -d'redirect_uri=REDIRECT_URI'  \\   'https://api.shop-pro.jp/oauth/token' ```  リクエストが成功すると、以下のようなJSONが返却されます  ```json {   \"access_token\": \"d461ab8XXXXXXXXXXXXXXXXXXXXXXXXX\",   \"token_type\": \"bearer\",   \"scope\": \"read_products write_products\" } ```  アクセストークンに有効期限はありませんが、[許可済みアプリ一覧画面](https://admin.shop-pro.jp/?mode=app_use_lst)から失効させることができます。なお、同じ認可コードをアクセストークンに交換できるのは1度だけです。  ### APIの利用  取得したアクセストークンは、Authorizationヘッダに入れて使用します。以下にショップ情報を取得する例を示します。  ```console $ curl -H 'Authorization: Bearer d461ab8XXXXXXXXXXXXXXXXXXXXXXXXX' https://api.shop-pro.jp/v1/shop.json ```  ## エラー  カラーミーショップAPIでは、以下の形式の配列でエラーを表現します。  - `code` エラーコード - `message` エラーメッセージ - `status` ステータスコード  ```json {   \"errors\": [     {       \"code\": 404100,       \"message\": \"レコードが見つかりませんでした。\",       \"status\": 404     }   ] } ```  ## 都道府県コードについて APIを利用して都道府県コードを更新したり、レスポンスを参照される際には以下の表を参考にしてください。  <details>   <summary>都道府県コード一覧</summary>    |id|都道府県|   |---|---|   |1|北海道|   |2|青森県|   |3|岩手県|   |4|秋田県|   |5|宮城県|   |6|山形県|   |7|福島県|   |8|茨城県|   |9|栃木県|   |10|群馬県|   |11|埼玉県|   |12|千葉県|   |13|東京都|   |14|神奈川県|   |15|新潟県|   |16|福井県|   |17|石川県|   |18|富山県|   |19|静岡県|   |20|山梨県|   |21|長野県|   |22|愛知県|   |23|岐阜県|   |24|三重県|   |25|和歌山県|   |26|滋賀県|   |27|奈良県|   |28|京都府|   |29|大阪府|   |30|兵庫県|   |31|岡山県|   |32|広島県|   |33|鳥取県|   |34|島根県|   |35|山口県|   |36|香川県|   |37|徳島県|   |38|愛媛県|   |39|高知県|   |40|福岡県|   |41|佐賀県|   |42|長崎県|   |43|大分県|   |44|熊本県|   |45|宮崎県|   |46|鹿児島県|   |47|沖縄県|   |48|海外|  </details> 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0-SNAPSHOT

=end

require 'cgi'

module ColorMeShop
  class SaleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 受注のキャンセル
    # 受注をキャンセルすると、以下のことが起こります。  - 該当受注の商品購入数が0になる - 該当受注の合計金額が0になる - 該当受注の`canceled`が`true`になる - 該当受注に使用されたショップポイント・GMOポイントがキャンセルされる - 該当受注の決済がAmazon Pay、LINE Pay、または楽天ペイ（オンライン決済）である場合は、決済金額が自動的に購入者へ返金される - 該当受注の決済がPayPay（イプシロン）である場合には、イプシロン側の決済もキャンセルされる - ショップポイントがキャンセルされる  販売手数料確定前の場合は以下のことが起こります。 - 販売手数料が0になる - 付与したGMOポイントがキャンセルされる - 購入者が使用したGMOポイントがキャンセルされる  現在、以下の機能はサポートしていません。 - キャンセル連動設定を利用した、クレジット（イプシロン）決済のキャンセル - 分割された受注のキャンセル 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelSaleRequest] :cancel_sale_request 
    # @return [UpdateSale200Response]
    def cancel_sale(sale_id, opts = {})
      data, _status_code, _headers = cancel_sale_with_http_info(sale_id, opts)
      data
    end

    # 受注のキャンセル
    # 受注をキャンセルすると、以下のことが起こります。  - 該当受注の商品購入数が0になる - 該当受注の合計金額が0になる - 該当受注の&#x60;canceled&#x60;が&#x60;true&#x60;になる - 該当受注に使用されたショップポイント・GMOポイントがキャンセルされる - 該当受注の決済がAmazon Pay、LINE Pay、または楽天ペイ（オンライン決済）である場合は、決済金額が自動的に購入者へ返金される - 該当受注の決済がPayPay（イプシロン）である場合には、イプシロン側の決済もキャンセルされる - ショップポイントがキャンセルされる  販売手数料確定前の場合は以下のことが起こります。 - 販売手数料が0になる - 付与したGMOポイントがキャンセルされる - 購入者が使用したGMOポイントがキャンセルされる  現在、以下の機能はサポートしていません。 - キャンセル連動設定を利用した、クレジット（イプシロン）決済のキャンセル - 分割された受注のキャンセル 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelSaleRequest] :cancel_sale_request 
    # @return [Array<(UpdateSale200Response, Integer, Hash)>] UpdateSale200Response data, response status code and response headers
    def cancel_sale_with_http_info(sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaleApi.cancel_sale ...'
      end
      # verify the required parameter 'sale_id' is set
      if @api_client.config.client_side_validation && sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'sale_id' when calling SaleApi.cancel_sale"
      end
      # resource path
      local_var_path = '/v1/sales/{sale_id}/cancel'.sub('{' + 'sale_id' + '}', CGI.escape(sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cancel_sale_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSale200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SaleApi.cancel_sale",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaleApi#cancel_sale\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 受注データの取得
    # 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GetSale200Response]
    def get_sale(sale_id, opts = {})
      data, _status_code, _headers = get_sale_with_http_info(sale_id, opts)
      data
    end

    # 受注データの取得
    # 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSale200Response, Integer, Hash)>] GetSale200Response data, response status code and response headers
    def get_sale_with_http_info(sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaleApi.get_sale ...'
      end
      # verify the required parameter 'sale_id' is set
      if @api_client.config.client_side_validation && sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'sale_id' when calling SaleApi.get_sale"
      end
      # resource path
      local_var_path = '/v1/sales/{sale_id}'.sub('{' + 'sale_id' + '}', CGI.escape(sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSale200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SaleApi.get_sale",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaleApi#get_sale\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 受注データのリストを取得
    # 受注データのリストを取得します。（日付が指定されていない場合は直近1週間分を取得します。）
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids 受注IDで検索。カンマ区切りで複数指定可能
    # @option opts [String] :after 指定日時以降の受注から検索。  &#x60;after&#x60; 未指定時は &#x60;before&#x60; の指定日時の7日前の0時、  &#x60;before&#x60; 未指定時は現在から7日前の0時がデフォルト値となります。 
    # @option opts [String] :before 指定日時以前の受注から検索
    # @option opts [String] :make_date_min &#x60;after&#x60;と同義
    # @option opts [String] :make_date_max &#x60;before&#x60;と同義
    # @option opts [String] :update_date_min 指定日時以降に更新された受注から検索
    # @option opts [String] :update_date_max 指定日時以前に更新された受注から検索
    # @option opts [String] :customer_ids 購入した顧客IDで検索。カンマ区切りにすることで複数検索が可能
    # @option opts [String] :customer_name 購入した顧客名で部分一致検索
    # @option opts [String] :customer_furigana 購入した顧客フリガナがで部分一致検索
    # @option opts [String] :customer_mail 購入した顧客メールアドレスで部分一致検索
    # @option opts [String] :accepted_mail_state 受注メールの送信状態で検索  - &#x60;not_yet&#x60;: 未送信 - &#x60;sent&#x60;: 送信済み - &#x60;pass&#x60;: 送信しない 
    # @option opts [String] :paid_mail_state 入金メールの送信状態で検索  - &#x60;not_yet&#x60;: 未送信 - &#x60;sent&#x60;: 送信済み - &#x60;pass&#x60;: 送信しない 
    # @option opts [String] :delivered_mail_state 配送メールの送信状態で検索  - &#x60;not_yet&#x60;: 未送信 - &#x60;sent&#x60;: 送信済み - &#x60;pass&#x60;: 送信しない 
    # @option opts [Boolean] :mobile &#x60;true&#x60;なら携帯からの受注のみ取得
    # @option opts [Boolean] :paid &#x60;true&#x60;なら入金済みの受注のみ取得
    # @option opts [Boolean] :delivered &#x60;true&#x60;なら配送済みの受注のみ取得
    # @option opts [Boolean] :canceled &#x60;true&#x60;ならキャンセル済みの受注のみ取得
    # @option opts [String] :payment_ids 使用された決済のIDで検索。カンマ区切りで複数指定可能
    # @option opts [String] :fields レスポンスJSONのキーをカンマ区切りで指定
    # @option opts [Integer] :limit レスポンスの件数を指定。指定がない場合は10。最大100
    # @option opts [Integer] :offset 指定した数値+1件目以降のデータを返す
    # @return [GetSales200Response]
    def get_sales(opts = {})
      data, _status_code, _headers = get_sales_with_http_info(opts)
      data
    end

    # 受注データのリストを取得
    # 受注データのリストを取得します。（日付が指定されていない場合は直近1週間分を取得します。）
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids 受注IDで検索。カンマ区切りで複数指定可能
    # @option opts [String] :after 指定日時以降の受注から検索。  &#x60;after&#x60; 未指定時は &#x60;before&#x60; の指定日時の7日前の0時、  &#x60;before&#x60; 未指定時は現在から7日前の0時がデフォルト値となります。 
    # @option opts [String] :before 指定日時以前の受注から検索
    # @option opts [String] :make_date_min &#x60;after&#x60;と同義
    # @option opts [String] :make_date_max &#x60;before&#x60;と同義
    # @option opts [String] :update_date_min 指定日時以降に更新された受注から検索
    # @option opts [String] :update_date_max 指定日時以前に更新された受注から検索
    # @option opts [String] :customer_ids 購入した顧客IDで検索。カンマ区切りにすることで複数検索が可能
    # @option opts [String] :customer_name 購入した顧客名で部分一致検索
    # @option opts [String] :customer_furigana 購入した顧客フリガナがで部分一致検索
    # @option opts [String] :customer_mail 購入した顧客メールアドレスで部分一致検索
    # @option opts [String] :accepted_mail_state 受注メールの送信状態で検索  - &#x60;not_yet&#x60;: 未送信 - &#x60;sent&#x60;: 送信済み - &#x60;pass&#x60;: 送信しない 
    # @option opts [String] :paid_mail_state 入金メールの送信状態で検索  - &#x60;not_yet&#x60;: 未送信 - &#x60;sent&#x60;: 送信済み - &#x60;pass&#x60;: 送信しない 
    # @option opts [String] :delivered_mail_state 配送メールの送信状態で検索  - &#x60;not_yet&#x60;: 未送信 - &#x60;sent&#x60;: 送信済み - &#x60;pass&#x60;: 送信しない 
    # @option opts [Boolean] :mobile &#x60;true&#x60;なら携帯からの受注のみ取得
    # @option opts [Boolean] :paid &#x60;true&#x60;なら入金済みの受注のみ取得
    # @option opts [Boolean] :delivered &#x60;true&#x60;なら配送済みの受注のみ取得
    # @option opts [Boolean] :canceled &#x60;true&#x60;ならキャンセル済みの受注のみ取得
    # @option opts [String] :payment_ids 使用された決済のIDで検索。カンマ区切りで複数指定可能
    # @option opts [String] :fields レスポンスJSONのキーをカンマ区切りで指定
    # @option opts [Integer] :limit レスポンスの件数を指定。指定がない場合は10。最大100
    # @option opts [Integer] :offset 指定した数値+1件目以降のデータを返す
    # @return [Array<(GetSales200Response, Integer, Hash)>] GetSales200Response data, response status code and response headers
    def get_sales_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaleApi.get_sales ...'
      end
      allowable_values = ["not_yet", "sent", "pass"]
      if @api_client.config.client_side_validation && opts[:'accepted_mail_state'] && !allowable_values.include?(opts[:'accepted_mail_state'])
        fail ArgumentError, "invalid value for \"accepted_mail_state\", must be one of #{allowable_values}"
      end
      allowable_values = ["not_yet", "sent", "pass"]
      if @api_client.config.client_side_validation && opts[:'paid_mail_state'] && !allowable_values.include?(opts[:'paid_mail_state'])
        fail ArgumentError, "invalid value for \"paid_mail_state\", must be one of #{allowable_values}"
      end
      allowable_values = ["not_yet", "sent", "pass"]
      if @api_client.config.client_side_validation && opts[:'delivered_mail_state'] && !allowable_values.include?(opts[:'delivered_mail_state'])
        fail ArgumentError, "invalid value for \"delivered_mail_state\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/sales'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'make_date_min'] = opts[:'make_date_min'] if !opts[:'make_date_min'].nil?
      query_params[:'make_date_max'] = opts[:'make_date_max'] if !opts[:'make_date_max'].nil?
      query_params[:'update_date_min'] = opts[:'update_date_min'] if !opts[:'update_date_min'].nil?
      query_params[:'update_date_max'] = opts[:'update_date_max'] if !opts[:'update_date_max'].nil?
      query_params[:'customer_ids'] = opts[:'customer_ids'] if !opts[:'customer_ids'].nil?
      query_params[:'customer_name'] = opts[:'customer_name'] if !opts[:'customer_name'].nil?
      query_params[:'customer_furigana'] = opts[:'customer_furigana'] if !opts[:'customer_furigana'].nil?
      query_params[:'customer_mail'] = opts[:'customer_mail'] if !opts[:'customer_mail'].nil?
      query_params[:'accepted_mail_state'] = opts[:'accepted_mail_state'] if !opts[:'accepted_mail_state'].nil?
      query_params[:'paid_mail_state'] = opts[:'paid_mail_state'] if !opts[:'paid_mail_state'].nil?
      query_params[:'delivered_mail_state'] = opts[:'delivered_mail_state'] if !opts[:'delivered_mail_state'].nil?
      query_params[:'mobile'] = opts[:'mobile'] if !opts[:'mobile'].nil?
      query_params[:'paid'] = opts[:'paid'] if !opts[:'paid'].nil?
      query_params[:'delivered'] = opts[:'delivered'] if !opts[:'delivered'].nil?
      query_params[:'canceled'] = opts[:'canceled'] if !opts[:'canceled'].nil?
      query_params[:'payment_ids'] = opts[:'payment_ids'] if !opts[:'payment_ids'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSales200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SaleApi.get_sales",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaleApi#get_sales\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # メールの送信
    # 受注・入金確認・商品発送メールを送ることができます。  対象の受注が分割されている場合、 受注メール、入金確認メールは、親受注でのみ指定可能です。 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SendSalesMailRequest] :send_sales_mail_request 
    # @return [nil]
    def send_sales_mail(sale_id, opts = {})
      send_sales_mail_with_http_info(sale_id, opts)
      nil
    end

    # メールの送信
    # 受注・入金確認・商品発送メールを送ることができます。  対象の受注が分割されている場合、 受注メール、入金確認メールは、親受注でのみ指定可能です。 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SendSalesMailRequest] :send_sales_mail_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def send_sales_mail_with_http_info(sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaleApi.send_sales_mail ...'
      end
      # verify the required parameter 'sale_id' is set
      if @api_client.config.client_side_validation && sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'sale_id' when calling SaleApi.send_sales_mail"
      end
      # resource path
      local_var_path = '/v1/sales/{sale_id}/mails'.sub('{' + 'sale_id' + '}', CGI.escape(sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'send_sales_mail_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SaleApi.send_sales_mail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaleApi#send_sales_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 売上集計の取得
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :make_date 集計対象とする売上の作成日。形式は\&quot;2017-04-12\&quot;、\&quot;2017/04/12\&quot;など。指定しない場合は今日の日付が使われる
    # @return [StatSale200Response]
    def stat_sale(opts = {})
      data, _status_code, _headers = stat_sale_with_http_info(opts)
      data
    end

    # 売上集計の取得
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :make_date 集計対象とする売上の作成日。形式は\&quot;2017-04-12\&quot;、\&quot;2017/04/12\&quot;など。指定しない場合は今日の日付が使われる
    # @return [Array<(StatSale200Response, Integer, Hash)>] StatSale200Response data, response status code and response headers
    def stat_sale_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaleApi.stat_sale ...'
      end
      # resource path
      local_var_path = '/v1/sales/stat'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'make_date'] = opts[:'make_date'] if !opts[:'make_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatSale200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SaleApi.stat_sale",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaleApi#stat_sale\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 受注データの更新
    # 該当受注の決済がAmazon Pay、LINE Pay、または楽天ペイ（オンライン決済）である場合は、熨斗・メッセージカード・ラッピングの手数料を更新すると、決済金額が自動的に購入者に請求もしくは返金されます。  ただし、LINE Payの場合は、決済金額の変更は減額のみ行うことができます。 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateSaleRequest] :update_sale_request 
    # @return [UpdateSale200Response]
    def update_sale(sale_id, opts = {})
      data, _status_code, _headers = update_sale_with_http_info(sale_id, opts)
      data
    end

    # 受注データの更新
    # 該当受注の決済がAmazon Pay、LINE Pay、または楽天ペイ（オンライン決済）である場合は、熨斗・メッセージカード・ラッピングの手数料を更新すると、決済金額が自動的に購入者に請求もしくは返金されます。  ただし、LINE Payの場合は、決済金額の変更は減額のみ行うことができます。 
    # @param sale_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateSaleRequest] :update_sale_request 
    # @return [Array<(UpdateSale200Response, Integer, Hash)>] UpdateSale200Response data, response status code and response headers
    def update_sale_with_http_info(sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SaleApi.update_sale ...'
      end
      # verify the required parameter 'sale_id' is set
      if @api_client.config.client_side_validation && sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'sale_id' when calling SaleApi.update_sale"
      end
      # resource path
      local_var_path = '/v1/sales/{sale_id}'.sub('{' + 'sale_id' + '}', CGI.escape(sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_sale_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSale200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"SaleApi.update_sale",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SaleApi#update_sale\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
